.btn{
  &:link .btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      align-items: center; }

      &:hover {
          transform: translateY(3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0); }

          &-expplore {
              background-color: whitesmoke;
              color: black;
              border-radius: 100px;
              width: max-content;
              padding: 2.5%; }
}