.header {
  height: 95vh;
  background-image: linear-gradient(to left bottom,
   rgba(#d8313179, 0.476),
    rgba(#288fb49e, 0.62));
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 

  &__logo {
    height: 80px;
    animation-name: movelogo;
    animation-duration: 2s; }

    &__text--box {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%); 
      text-align: center;
    }
}
.heading-secondary{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-background, $color-background2);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all.2s;
  

  &:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

