.u-center-text{
    text-align: center;
    margin-bottom: 1.5rem;
}

.u-margin-8{
margin-bottom: 11rem;
}

.margin-med{

    text-transform: uppercase;
    margin-top: 1rem;
    color: black;
  }
  .margin-small{
    text-align: justify;
  color: black;
  margin-top: 1rem;
  }